SELECT
    ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    names,
    way_area
  FROM admin
  WHERE geom && {{bbox}}
    AND name IS NOT NULL
    AND way_area > 0.25 * {{tile_area}}
{% if zoom <= 5 %}
  AND admin_level IN (2)
{% elif zoom <= 8 %}
  AND admin_level IN (2, 3, 4)
{% else %}
  AND admin_level IN (2, 3, 4, 5, 6)
{% endif %}
  ORDER BY admin_level ASC, way_area DESC
