SELECT
    ST_AsMVTGeom(point, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    name,
    way_area
  FROM buildings
  WHERE point && {{bbox}}
    AND way_area > {{coordinate_area}}*16
  ORDER BY way_area DESC
