WITH merged_rail AS (
SELECT
    ST_LineMerge(ST_Collect(geom)) AS way,
    railway,
    COALESCE(minor, FALSE) AS minor,
    COALESCE(tunnel, FALSE) AS tunnel,
    COALESCE(bridge, FALSE) AS bridge,
    COALESCE(layer, 0) AS layer,
    z_order
  FROM railways
  WHERE geom && {{bbox}}
  GROUP BY railway, minor, tunnel, bridge, layer, z_order
)
SELECT
    ST_AsMVTGeom((ST_Dump(way)).geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    railway, minor, tunnel, bridge, layer, z_order
FROM merged_rail
ORDER BY layer, z_order
