SELECT
    ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    names,
    place
  FROM settlements
  WHERE geom && {{bbox}}
{% if zoom <= 9 %}
    AND place IN ('city')
{% elif zoom <= 10 %}
    AND place IN ('city', 'town')
{% elif zoom <= 11 %}
    AND place IN ('city', 'town', 'village')
{% elif zoom <= 12 %}
    AND place IN ('city', 'town', 'village', 'hamlet')
{% else %}
    AND place IN ('city', 'town', 'village', 'hamlet', 'isolated_dwelling')
{% endif %}
