WITH transit_normalized AS (
  SELECT
    geom,
    names,
    station,
    mode
  FROM transit
  WHERE geom && {{bbox}}
    AND (
{% if zoom >= 15 %}
      mode = 'bus' OR
{% elif zoom >= 13 %}
      (mode = 'bus' AND station) OR
{% endif %}
{% if zoom >= 14 %}
      (mode = 'tram' AND NOT station) OR
{% endif %}
    mode = 'subway' OR mode = 'airplane')
)
SELECT
    ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    names,
    station,
    mode
  FROM transit_normalized
  ORDER BY station DESC,
    CASE mode
      WHEN 'airplane' THEN 1
      WHEN 'subway' THEN 3
      WHEN 'tram' THEN 4
      WHEN 'bus' THEN 5
      ELSE 10
    END
