SELECT
        ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
        names,
        kind
    FROM public_transport
    WHERE geom && {{bbox}}
        AND {{zoom}} >= minzoom
