SELECT
        ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
        kind,
        rail,
        tunnel,
        bridge,
        surface
    FROM street_polygons
    WHERE geom && {{bbox}}
{% if zoom <= 11 %}
    AND kind IN ('runway')
{% elif zoom <= 13 %}
    AND kind IN ('runway', 'taxiway')
{% else %}
    AND kind IN ('runway', 'taxiway', 'service', 'pedestrian')
{% endif %}
    ORDER BY z_order DESC
