# http://EditorConfig.org

root = true

# Defaults apply to all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.glug]
indent_size = 2

[*.{sql.jinja2,yaml}]
indent_size = 2
