SELECT
        ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
        names,
        amenity,
        leisure,
        tourism,
        shop,
        man_made,
        historic,
        emergency,
        highway,
        office,
        housename,
        housenumber,
        cuisine,
        sport,
        vending,
        information,
        "tower:type",
        religion,
        denomination,
        "recycling:glass_bottles",
        "recycling:paper",
        "recycling:clothes",
        "recycling:scrap_metal",
        atm
    FROM pois
    WHERE geom && {{bbox}}
