SELECT
        ST_AsMVTGeom(geom, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
        kind,
        tunnel,
        bridge,
        layer
    FROM water_lines
    WHERE geom && {{bbox}}
        AND {{zoom}} >= minzoom
    ORDER BY layer ASC
