WITH parks AS (
SELECT
    (ST_MaximumInscribedCircle(way)).center AS way,
    name,
    way_area
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
    AND leisure IN ('park')
    AND name IS NOT NULL
)
SELECT
    ST_AsMVTGeom(way, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    name,
    way_area
  FROM parks
