SELECT
    ST_AsMVTGeom(point, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    name,
    way_area
  FROM water
  WHERE point && {{bbox}}
    AND way_area > 16 * {{coordinate_area}}
  ORDER BY way_area DESC
